{% extends 'base.html.twig' %}

{% block title %}Expériences{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5 text-center">Expériences</h1>

        <div class="row">
            {% for experience in experiences %}
                <div class="col-md-4 mt-4 mb-4 d-flex justify-content-center">
                    <div class="card" style="width: 18rem; height: auto;">
                        <div class="card-body d-flex flex-column justify-content-center text-center">
                            <h5 class="card-title">{{ experience.titre }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                Du {{ experience.dateDebut | date("d/m/Y") }} au {{ experience.dateFin | date("d/m/Y") }}
                            </h6>
                            <p class="card-text">{{ experience.etablissement }}</p>
                            <hr>
                            <p class="card-text">{{ experience.roles }}</p>

                            {% if experience.lien %}
                                <a href="#" target ="_blank" class="btn btn-primary">VOIR</a>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
            
        </div>
    </div>
{% endblock %}
