{% extends 'base.html.twig' %}

{% block title %}Administration Projets{% endblock %}

{% block body %}

    <div class="container-fluid" style="min-height: 90vh;">
        <h1 class="my-5 text-center">
            Mes projets
        </h1>
        <div class="text-center md-3">
            <a href="{{ path('admin_projets_new') }}" class="btn btn-success text-white mb-3">
                <i class="fas fa-plus"></i> 
                Ajouter un projet
            </a>
        </div>
        <table class="table table-hover my-5">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>URL</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for projet in projets %}
                    <tr>
                        <td>{{ projet.id }}</td>
                        <td>{{ projet.titre }}</td>
                        <td>{{ projet.description }}</td>
                        <td>{{ projet.image }}</td>
                        <td>{{ projet.url }}</td>
                        <td>
                            <a href="{{ path('admin_projets_edit', {'id': projet.id}) }}" class="btn btn-primary">
                                <i class="fas fa-edit"></i> 
                                Éditer
                            </a>
                            <a href="{{ path('admin_projets_delete', {'id': projet.id}) }}" class="btn btn-danger">
                                <i class="fas fa-trash"></i> 
                                Supprimer
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}